{% extends "base.html" %} {% block content %}
<!-- MAIN -->

<h1 class="text-3xl my-4">Formulario para actualizar a una persona</h1>
<form action="{% url 'editar_persona' persona.id%}" class="mx-auto w-full max-w-lg bg-slate-300 p-4 rounded" method="post">
  {% csrf_token %}
  {% if valor == "valido" %}
    <p class=" text-green-600 font-bold text-center rounded mb-1 py-1 bg-transparent border border-green-500">La persona ha sido agregada correctamente</p>
  {% elif valor == "invalido" %}
    <p class=" text-red-600 font-bold text-center rounded mb-1 py-1 bg-transparent border border-red-500">Todo campo es obligatorio</p>
  {% endif %}
  <div class="flex flex-col gap-1 sm:flex-row">
    <div class="flex flex-col gap-1 items-start sm:flex-grow">
      <label for="firstnames">Ingresa tu nombre: </label>
      <input type="text" name="firstnames" id="firstnames" class="w-full py-1 px-2 rounded" value="{{persona.nombres}}"/>
    </div>
    <div class="flex flex-col gap-1 items-start sm:flex-grow">
      <label for="surnames">Ingresa tu apellidos: </label>
      <input type="text" name="surnames" id="surnames" class="w-full py-1 px-2 rounded" value="{{persona.apellidos}}"/>
    </div>
  </div>
  <div class="flex flex-col gap-1 items-start mt-1">
    <label for="address">Ingresa tu dirección: </label>
    <input type="text" name="address" id="address" class="w-full py-1 px-2 rounded" value="{{persona.direccion}}" />
  </div>
  <div class="flex flex-col gap-1 mt-1 sm:flex-row">
    <div class="flex flex-col gap-1 items-start sm:flex-grow sm:basis-0">
      <label for="date">F. de nacimiento: </label>
      <input type="date" name="date" id="date" class="w-full py-1 px-2 rounded" value="{{fecha_de_nacimiento_formateada}}"/>
    </div>
    <div class="flex flex-col gap-1 items-start sm:flex-grow sm:basis-0">
      <label for="age">Ingresa tu edad: </label>
      <input
        type="number"
        inputmode="numeric"
        pattern="\d*"
        id="age"
        name="age"
        min="0"
        step="0"
        class="w-full py-1 px-2 rounded"
        value="{{persona.edad}}"
      />
    </div>
    <div class="flex flex-col gap-1 items-start sm:flex-grow sm:basis-0">
      <label for="salary">Ingresa tu sueldo: </label>
      <input
        type="number"
        id="salary"
        name="salary"
        class="w-full py-1 px-2 rounded"
        min="0"
        step="0.01"
        value="{{persona.sueldo}}"
      />
    </div>
  </div>
  <div class="mt-1">
    <label for="rnd">Ingresa el rnd: </label>
    <input type="text" id="rnd" name="rnd" class="w-full py-1 px-2 rounded" value="{{persona.rnd}}"/>
  </div>

  <div class="mt-1 flex gap-4">
    <p>Seleccione su estado: </p>
    <div class="flex gap-4">
        <div>
            <label for="firststate">1</label>
            <input type="radio" name="state" value="1" id="firststate" checked>
        </div>
        <div>
            <label for="secondstate">0</label>
            <input type="radio" name="state" value="0" id="secondstate">
        </div>
    </div>
  </div>

  <div class="flex justify-end">
    <button
      type="submit"
      value="Enviar"
      class="bg-green-500 py-1 px-6 rounded hover:bg-green-400 mt-3"
    >
      Actualizar información
    </button>
  </div>
</form>

{% endblock %}
